<ion-view title="Dashboard">
<ion-content class="has-header" overflow-scroll="true" padding="true">
<div class="list card">
    <div class="item item-body">
        <form class="list dsahbordDiv">
            <label name="rank" class="item item-input">
                <span class="input-label">Rank</span>
                <input placeholder="N/A" type="text">
            </label>
            <label name="score" class="item item-input">
                <span class="input-label">Score</span>
                <input placeholder="N/A" type="text">
            </label>
            <label name="wins" class="item item-input">
                <span class="input-label">Wins</span>
                <input placeholder="N/A" type="text">
            </label>
            <label name="loss" class="item item-input">
                <span class="input-label">Loss</span>
                <input placeholder="N/A" type="text">
            </label>
            <label name="tie" class="item item-input">
                <span class="input-label">Tie</span>
                <input placeholder="N/A" type="text">
            </label>
            <label name="total_users" class="item item-input">
                <span class="input-label">Total No of Users</span>
                <input placeholder="N/A" type="text">
            </label>
        </form>
    </div>
</div>
<div class="buttonWrapper text-center">
                            <button class="button playBtn playAgain noBorder">Play Again</button>
                        </div>
</ion-content>
</ion-view>