<ion-view style="" title="Login">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label name="username" class="item item-input">
                        <input placeholder="Username" type="text">
                    </label>
                </form>
                <div style="width: 287px; height: 26px;" class="spacer"></div>
                <form class="list">
                    <label style="" name="password" class="item item-input">
                        <input placeholder="password" type="password">
                    </label>
                </form>
                <div style="width: 255px; height: 24px;" class="spacer"></div>
                <button class="button button-dark button-block  icon-left ion-log-in">Login</button>
            </div>
        </div>
    </ion-content>
</ion-view>