<ion-view style="" title="Players">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Available</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Demo 1</ion-item>
                    <ion-item style="">Demo 2</ion-item>
                    <ion-item style="" class="item-thumbnail-left">
                        <img src="img/ionic.png">
                        <h2>Title</h2>
                        <p>Item</p>
                    </ion-item>
                    <ion-item style="">Demo 3</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Engaged</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Demo 4</ion-item>
                    <ion-item style="">Demo 5</ion-item>
                    <ion-item style="">Demo 6</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Offline</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Demo 7</ion-item>
                    <ion-item style="">Demo 8</ion-item>
                    <ion-item style="">Demo 9</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>